<div class="login-form search-form">

    <form action="/api/user/login" method="post">
      <h1>Login</h1>
      <div class="content">
        <div class="input-field">
          <input type="email" name="email" placeholder="Enter Email">
        </div>
        <div class="input-field">
          <input type="password" name="password" placeholder="Enter Password">
        </div>
      </div>
      <div class="action">
        <button>Sign in</button>
      </div>
    </form>

</div>
