<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Font Awesome Icon -->
    <script
      src="https://kit.fontawesome.com/85aaa41db7.js"
      crossorigin="anonymous"
    ></script>
    <title>Register!</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <%- include('partials/header')%>
    <section class="register" id="register">
      <div
        style="
          text-align: center;
          color: blueviolet;
          margin-top: 100px;
          background-color: var(--bg);
          font-size: large;
        "
        class="reg-form searchd-form"
      >
        <h1>Register</h1>
        <form action="/register" method="post">
          <div class="content">
            <div style="padding-top: 15px" class="input-field">
              <input
                style="background-color: var(--bg); size: 100px"
                type="text"
                name="name"
                placeholder="Firstname"
                id="java"
              />
            </div>
            <div style="padding-top: 15px" class="input-field">
              <input
                style="background-color: var(--bg)"
                type="email"
                name="email"
                placeholder="Email"
              />
            </div>
            <div style="padding-top: 15px" class="input-field">
              <input
                style="background-color: var(--bg)"
                type="password"
                name="password"
                placeholder="Password"
              />
            </div>
          </div>
          <div class="action">
            <button
              style="
                border-width: 1px;
                border-style: solid;
                border-color: blueviolet;
                background-color: var(--bg);
                color: blueviolet;
                size: 100px;
                margin-top: 30px;
                margin-bottom: 20px;
                padding: 5px;
              "
              type="submit"
            >
              Sign in
            </button>
          </div>
        </form>

        <a href="/login">Already Have An Account? Login Here!</a>
      </div>
    </section>
    <!-- <div class="reg-form searchd-form">
  <form action="/api/user/register" method="post">
    <h1>Register Here !</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" name="name" placeholder="Firstname" id="java" />
      </div>
      <div class="input-field">
        <input type="email" name="email" placeholder="Email" />
      </div>
      <div class="input-field">
        <input type="password" name="password" placeholder="Password" />
      </div>

    </div>
    <div class="action">
      <button>Sign in</button>
    </div>
  </form>
</div> -->
  </body>
</html>
